<body>
    <div class="main">
        <form>

            <input type="text"
                   placeholder="Email"
                   aria-placeholder="Email">
            <br>

            <input type="password"
                   placeholder="Password"
                   aria-placeholder="Password">
            <br>
            <a href="/glowSkin/pages/404.md"
               class="button">Login
            </a>

        </form>
    </div>
    <div id="register"
         class="main">
<a href="/glowSkin/pages/404.md" class="button">Sign Up</a>
</div>
</body>